$palette-purple: #b777b3;
$palette-peach: #f8ab9e;
$palette-yellow: #f8bb5f;
$palette-indigo: #9c8ec4;
$palette-blue: #87c1ea;
$palette-green: #8acb97;

$bg-purple: rgba(241, 208, 229, 0.6);
$text-purple: #854783;

$bg-peach: rgba(255, 219, 219, 0.6);
$text-peach: #ae3328;

$bg-yellow: rgba(253, 233, 211, 0.6);
$text-yellow: #a84f00;

$bg-indigo: rgba(220, 215, 234, 0.6);
$text-indigo: #65539d;

$bg-blue: rgba(203, 228, 246, 0.6);
$text-blue: #1c679c;

$bg-green: rgba(220, 239, 223, 0.6);
$text-green: #327544;

.purple-scheme {
  background-color: $bg-purple;
  color: $text-purple;
  a {
    color: $text-purple;
    text-decoration: underline;
  }
}

.peach-scheme {
  background-color: $bg-peach;
  color: $text-peach;
  a {
    color: $text-peach;
    text-decoration: underline;
  }
}

.yellow-scheme {
  background-color: $bg-yellow;
  color: $text-yellow;
  a {
    color: $text-yellow;
    text-decoration: underline;
  }
}

.indigo-scheme {
  background-color: $bg-indigo;
  color: $text-indigo;
  a {
    color: $text-indigo;
    text-decoration: underline;
  }
}

.blue-scheme {
  background-color: $bg-blue;
  color: $text-blue;
  a {
    color: $text-blue;
    text-decoration: underline;
  }
}

.green-scheme {
  background-color: $bg-green;
  color: $text-green;
  a {
    color: $text-green;
    text-decoration: underline;
  }
}

html {
  height: 100%;
}

@font-face {
  font-family: "kenokylight";
  src: url("fonts/kenokylight-3zezl-webfont.woff2") format("woff2"),
    url("fonts/kenokylight-3zezl-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next Demi";
  src: url("fonts/AvenirNext-DemiBold.woff2") format("woff2"), url("fonts/AvenirNext-DemiBold.woff") format("woff");
  font-display: swap;
  font-style: normal;
}

body {
  background: url(./img/gradient-extra-long.png) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Avenir Next Demi", sans-serif;
  color: white;
  margin: 0px 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "kenokylight", sans-serif;
  letter-spacing: 3px;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.content {
  height: 100%;
  width: 100%;
}

.card {
  padding: 1.75em;
  margin: 1em;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  max-width: 650px;
  line-height: 1.5em;
  font-size: small;
}

/////////////// NAV /////////////////////
.nav {
  width: 100%;
  text-align: center;
  &-link {
    vertical-align: middle;
  }
  &-home-button {
    box-sizing: border-box;
    margin: 0.3em;
    width: 5em;
    border-radius: 50%;
  }
  &-home-button:hover,
  a.active .nav-home-button {
    background-color: rgba(255, 255, 255, 0.4);
  }
  &-button {
    text-align: center;
    padding: 1.25em;
    border-radius: 50px;
    font-size: 16px;
    border: 3px solid transparent;
    background-color: transparent;
    margin: 0.25em;
    font-family: "Avenir Next Demi", sans-serif;
    color: white;
  }
  &-hover-purple:hover,
  a.active .nav-hover-purple {
    background-color: $bg-purple;
    color: $text-purple;
    border: 3px solid rgba(255, 255, 255, 0.4);
  }
  &-hover-peach:hover,
  a.active .nav-hover-peach {
    background-color: $bg-peach;
    color: $text-peach;
    border: 3px solid rgba(255, 255, 255, 0.4);
  }
  &-hover-yellow:hover,
  a.active .nav-hover-yellow {
    background-color: $bg-yellow;
    color: $text-yellow;
    border: 3px solid rgba(255, 255, 255, 0.4);
  }
  &-hover-indigo:hover,
  a.active .nav-hover-indigo {
    background-color: $bg-indigo;
    color: $text-indigo;
    border: 3px solid rgba(255, 255, 255, 0.4);
  }
  &-hover-blue:hover,
  a.active .nav-hover-blue {
    background-color: $bg-blue;
    color: $text-blue;
    border: 3px solid rgba(255, 255, 255, 0.4);
  }
  &-hover-green:hover,
  a.active .nav-hover-green {
    background-color: $bg-green;
    color: $text-green;
    border: 3px solid rgba(255, 255, 255, 0.4);
  }
}

#home-title {
  text-align: center;
}

.home-info {
  line-height: 1.8em;
  margin-left: auto;
  margin-right: auto;
}

.edit {
  text-decoration: underline;
  color: black;
}

.text-link {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

.question {
  font-style: italic;
  padding-bottom: 0.2em;
}

.qanda {
  padding: 10px 0;
  max-width: 800px;
}

///////////////// TRACKS /////////////////
.tracks {
  max-width: 800px;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &-section {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    max-width: 250px;
  }
  &-image {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
  }
  &-blurb {
    margin-top: 0.5em;
  }
}
////////////////////// FOOTER ///////////////////////////
.footer {
  padding-top: 170px;
  &-container {
    // background-color: rgba(255, 219, 219, 0.8); //peach
    // background-color: rgba(253, 233, 211, 0.8); //yellow
    // background-color: rgba(220, 215, 234, 0.8); //indigo bg
    background-color: rgba(241, 208, 229, 0.8); //purple
    border-top: 2px solid rgba(255, 255, 255, 0.6);
    // box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.6);
    padding-top: 30px;
    padding-left: 6%;
    padding-right: 6%;
    display: flex;
    flex-direction: row;
    color: $text-purple;
    font-size: small;
  }
  &-section {
    width: 33%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  &-logo {
    max-width: 200px;
  }
  &-social {
    width: 100px;
    display: flex;
    flex-direction: row;
    margin-left: 8px;
  }
  &-icon-wrapper {
    max-width: 35px;
    min-width: 35px;
    margin: 6px;
  }
  &-link {
    text-decoration: underline;
    font-size: x-small;
    padding: 0.25em;
    color: $text-purple;
    display: block;
    margin-left: 8px;
  }
}

.team {
  margin-top: 2em;
}

.names {
  display: flex;
  flex-direction: row;
  &-col {
    padding-right: 3em;
  }
  &-pronouns {
    font-size: x-small;
  }
}

.social_media {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  padding-top: 20px;
}

.arrow {
  padding-left: 10px;
}

.mentors {
  padding-top: 30px;
}

.people {
  display: flex;
  flex-direction: row;
  max-width: 825px;
  padding-bottom: 50px;
}

.mentor-text {
  padding-left: 30px;
}

.mentor-name {
  font-weight: 600;
  padding-bottom: 10px;
  font-size: 1.25em;
  text-decoration: underline;
  color: black;
}

.mentor-info {
  line-height: 1.5em;
}

.mentor-image {
  display: flex;
  align-items: center;
}

.sponsors {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sponsor-class {
  margin-bottom: 35px;
  max-width: 800px;
}

.spons-img {
  margin-right: 70px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  align-items: center;
}

/* .spons-img:hover {
  border: 1px solid black;
} */

.schedule ul {
  list-style-type: none;
  padding-left: 1em;
}

.schedule li.session {
  padding-bottom: 2.5em;
  position: relative;
  border-left: 2px solid;
  padding-left: 20px;
}

.schedule li.session:last-child {
  border-color: transparent;
}

.schedule li.session .when {
  position: relative;
  top: -0.3em;
  padding-bottom: 0.2em;
}

.schedule li.session .when::before {
  content: " ";
  position: absolute;
  width: 0.9em;
  height: 0.9em;
  background: black;
  left: -28px;
  top: 4px;
}

.check {
  padding-top: 20px;
}

.mlh-banner {
  position: absolute;
  top: 0px;
  right: 15px;
  width: 5vw;
}

.mobile-header {
  display: none;
}

@media screen and (max-width: 992px) {
  body {
    font-size: small;
    background-size: auto;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    width: 94%;
  }

  .hamburger {
    position: absolute;
    top: 15px;
    left: 20px;
    display: grid;
    height: 30px;
    &-line {
      width: 35px;
      height: 4px;
      background-color: white;
      margin: 3px 0;
      border-radius: 20%;
    }
  }

  .mobile {
    &-header {
      display: block;
      text-align: center;
    }
    &-title {
      margin-top: 15px;
    }
    &-nav {
      display: block;
      z-index: 100;
      width: 100%;
    }
  }

  .desktop-nav {
    display: none;
  }

  .spons-img {
    margin-right: 30px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .tracks {
    &-section {
      max-width: 400px;
    }
    &-image {
      max-width: 150px;
    }
  }

  .footer {
    &-container {
      flex-direction: column;
    }
    &-section {
      width: 90%;
    }
    &-logo {
      display: none;
    }
    &-social {
      width: 60%;
      display: flex;
    }
    &-icon-wrapper {
      margin: 5px;
      min-width: 50px;
    }
  }
}

@media screen and (max-width: 576px) {
  .card {
    font-size: 15px;
  }

  .names {
    flex-direction: column;
    &-col {
      padding-right: 40px;
    }
  }

  .other {
    padding: 7px;
  }

  .sponsors {
    display: block;
    padding-right: 0px;
  }

  .spons-img {
    margin-right: 0px;
  }

  .people {
    display: flex;
    flex-direction: column;
  }

  .mentor-image {
    display: block;
    padding-bottom: 10px;
  }

  .mentor-text {
    padding-left: 0px;
  }

  .nav {
    &-home-button {
      width: 3.5em;
    }
    &-button {
      padding: 1em;
    }
  }

  .check {
    width: 100%;
    margin-left: 0px;
  }
}
