@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,100;0,300;0,600;1,300;1,600&display=swap");

$palette-purple: #b777b3;
$palette-peach: #f8ab9e;
$palette-yellow: #f8bb5f;
$palette-indigo: #9c8ec4;
$palette-blue: #87c1ea;
$palette-green: #8acb97;

$bg-purple: rgba(241, 208, 229, 0.6);
$text-purple: #854783;

$bg-peach: rgba(255, 219, 219, 0.6);
$text-peach: #ae3328;

$bg-yellow: rgba(253, 233, 211, 0.6);
$text-yellow: #a84f00;

$bg-indigo: rgba(220, 215, 234, 0.6);
$text-indigo: #65539d;

$bg-blue: rgba(203, 228, 246, 0.6);
$text-blue: #1c679c;

$bg-green: rgba(220, 239, 223, 0.6);
$text-green: #327544;

html {
  height: 100%;
}

@font-face {
  font-family: "kenokylight";
  src: url("fonts/kenokylight-3zezl-webfont.woff2") format("woff2"),
    url("fonts/kenokylight-3zezl-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next Demi";
  src: url("fonts/AvenirNext-DemiBold.woff2") format("woff2"), url("fonts/AvenirNext-DemiBold.woff") format("woff");
  font-display: swap;
  font-style: normal;
}

body {
  background-image: url(./img/long-gradient.png) ;
  background-size: 100% 1600px;
  background-repeat: no-repeat;
  // background-attachment: fixed;

  background: url(./img/long-gradient.png) no-repeat center center;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  font-family: "Avenir Next Demi", sans-serif;
  color: white;
  margin: 0px 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "kenokylight", sans-serif;
  letter-spacing: 4px;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.content {
  height: 100%;
  width: 100%;
}

.card {
  padding: 2em;
  margin: 0.5em;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  max-width: 700px;
}

.purple-scheme {
  background-color: $bg-purple;
  color: $text-purple;
  a {
    color: $text-purple;
    text-decoration: underline;
  }
}

.peach-scheme {
  background-color: $bg-peach;
  color: $text-peach;
  a {
    color: $text-peach;
    text-decoration: underline;
  }
}

.yellow-scheme {
  background-color: $bg-yellow;
  color: $text-yellow;
  a {
    color: $text-yellow;
    text-decoration: underline;
  }
}

.indigo-scheme {
  background-color: $bg-indigo;
  color: $text-indigo;
  a {
    color: $text-indigo;
    text-decoration: underline;
  }
}

.blue-scheme {
  background-color: $bg-blue;
  color: $text-blue;
  a {
    color: $text-blue;
    text-decoration: underline;
  }
}

.green-scheme {
  background-color: $bg-green;
  color: $text-green;
  a {
    color: $text-green;
    text-decoration: underline;
  }
}

/////////////// NAV /////////////////////
.nav {
  width: 100%;
  text-align: center;

  &-button {
    text-align: center;
    padding: 2em;
    border-radius: 50px;
    font-size: 15px;
    border: 3px solid transparent;
    outline: none;
    background-color: transparent;
    margin: 0.5em;
    font-family: "Avenir Next Demi", sans-serif;
    // color: white;
  }

  &-hover-purple:hover,
  a.active .nav-hover-purple {
    background-color: $bg-purple;
    color: $text-purple;
    border: 3px solid rgba(255, 255, 255, 0.4);
  }

  &-hover-peach:hover,
  a.active .nav-hover-peach {
    background-color: $bg-peach;
    color: $text-peach;
    border: 3px solid rgba(255, 255, 255, 0.4);
  }

  &-hover-yellow:hover,
  a.active .nav-hover-yellow {
    background-color: $bg-yellow;
    color: $text-yellow;
    border: 3px solid rgba(255, 255, 255, 0.4);
  }

  &-hover-indigo:hover,
  a.active .nav-hover-indigo {
    background-color: $bg-indigo;
    color: $text-indigo;
    border: 3px solid rgba(255, 255, 255, 0.4);
  }

  &-hover-blue:hover,
  a.active .nav-hover-blue {
    background-color: $bg-blue;
    color: $text-blue;
    border: 3px solid rgba(255, 255, 255, 0.4);
  }

  &-hover-green:hover,
  a.active .nav-hover-green {
    background-color: $bg-green;
    color: $text-green;
    border: 3px solid rgba(255, 255, 255, 0.4);
  }
}

#home-title {
  text-align: center;
}

.edit {
  text-decoration: underline;
  color: black;
}

.home-info {
  line-height: 1.5em;
}

.text-link {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

.question {
  font-style: italic;
  padding-bottom: 0.2em;
}

.qanda {
  padding: 10px 0;
  max-width: 800px;
}

.code-of-conduct {
  text-decoration: none;
  color: black;
}

.tracks {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  padding-bottom: 30px;
}

.footer {
  padding-top: 170px;
  padding-bottom: 30px;
  padding-left: 6%;
  padding-right: 6%;
  display: flex;
  flex-direction: row;
  background-color: lightblue;

  &-card {
    display: flex;
    flex-direction: row;
  }

  &-section {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }

  &-logo-social {
    width: 30%;
  }

  &-logo {
    width: 100%;
  }

  &-social {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  &-icon-wrapper {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &-icon {
    width: 100%;
  }

  &-link {
    text-decoration: underline;
    font-size: x-small;
    padding: 0.25em;
  }
}

.names {
  display: flex;
  flex-direction: row;
}

.name-col {
  padding-right: 3em;
}

.social_media {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  padding-top: 20px;
}

.arrow {
  padding-left: 10px;
}

.mentors {
  padding-top: 30px;
}

.people {
  display: flex;
  flex-direction: row;
  max-width: 825px;
  padding-bottom: 50px;
}

.mentor-text {
  padding-left: 30px;
}

.mentor-name {
  font-weight: 600;
  padding-bottom: 10px;
  font-size: 1.25em;
  text-decoration: underline;
  color: black;
}

.mentor-info {
  line-height: 1.5em;
}

.mentor-image {
  display: flex;
  align-items: center;
}

.sponsors {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sponsor-class {
  margin-bottom: 35px;
  max-width: 800px;
}

.sponsorship-packet {
  text-decoration: none;
  color: black;
}

.spons-img {
  margin-right: 70px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  align-items: center;
}

/* .spons-img:hover {
  border: 1px solid black;
} */

.schedule ul {
  list-style-type: none;
  padding-left: 1em;
}

.schedule li.session {
  padding-bottom: 2.5em;
  position: relative;
  border-left: 2px solid;
  padding-left: 20px;
}

.schedule li.session:last-child {
  border-color: transparent;
}

.schedule li.session .when {
  position: relative;
  top: -0.3em;
  padding-bottom: 0.2em;
}

.schedule li.session .when::before {
  content: " ";
  position: absolute;
  width: 0.9em;
  height: 0.9em;
  background: black;
  left: -28px;
  top: 4px;
}

.apply {
  padding-top: 20px;
}

.check {
  padding-top: 20px;
}

.hamburger {
  position: absolute;
  top: 15px;
  left: 20px;
  display: grid;
  height: 30px;

  &-line {
    width: 35px;
    height: 4px;
    background-color: black;
    margin: 3px 0;
    border-radius: 20%;
  }
}

.mlh-banner {
  position: absolute;
  top: 0px;
  right: 15px;
  width: 5vw;
}

#mobile-header {
  display: none;
}

@media screen and (max-width: 992px) {
  body {
    font-size: small;
  }

  #mobile-header {
    display: block;
  }

  .mobile-nav {
    /* background-image: url(./img/holo-back.png); */
    display: block;
    z-index: 100;
    width: 100%;
  }

  .desktop-nav {
    display: none;
  }

  .spons-img {
    margin-right: 30px;
    padding-bottom: 20px;
  }

  .mobile-title {
    margin-top: 15px;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-size: auto;
  }

  .desktop-nav {
    display: none;
  }

  .footer {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 40px;

    &-section {
      width: 90%;
    }

    &-logo-social {
      text-align: center;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    &-logo {
      display: none;
    }
  }
}

@media screen and (max-width: 576px) {
  .desktop-nav {
    display: none;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }

  .content {
    grid-template-columns: 70% 0px;
    margin-right: 50px;
  }

  .tracks {
    margin-left: auto;
    margin-right: auto;
  }

  .box {
    padding-right: 0;
    width: 140px;
  }

  .home_info {
    font-size: 15px;
  }

  .names {
    display: flex;
    flex-direction: row;
  }

  .name-col {
    padding-right: 40px;
    display: flex;
    flex-direction: column;
  }

  .t {
    width: 90%;
  }

  .logo {
    display: none;
  }

  .other {
    padding: 7px;
  }

  .sponsors {
    display: block;
    padding-right: 0px;
  }

  .spons-img {
    margin-right: 0px;
  }

  .people {
    display: flex;
    flex-direction: column;
  }

  .mentor-image {
    display: block;
    padding-bottom: 10px;
  }

  .mentor-text {
    padding-left: 0px;
  }

  .nav-button {
    padding: 1em;
  }

  .check {
    width: 100%;
    margin-left: 0px;
  }
}
